<!DOCTYPE html>
<html>
<head>
{% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/foundation.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>

<body>
  <div class="row">
    <div class="large-12 columns">

      <div class="row">
        <div class="large-6 columns">
          <h4>Create Tool</h4>

		<form action="/share_app/createTool" method="post">
		  {% csrf_token %}
		  <div class="row">
			<label>Tool Name 
				<input name="name" type="text" value="username" required> 
			</label>
	      </div>

		  <div class="row">
			<label>Type 
				<input name="type" type="text" value="username" required> 
			</label>
		  </div>

          <div class="row"><label>Is it a power tool</label>
			  <input type="radio" name="powerTool" id="Yes"><label for="Yes">Yes
			    <input type="radio" name="powerTool" id="No"><label for="No">No
			</label>
          </div>



              <input type="submit" class="button" value="Create New Tool">
          </form>

        </div>

      </div>

    </div>
  </div>


  


</body>

<script type="text/javascript" src="{% static 'js/vendor/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/foundation.min.js' %}"></script>

</html>