4<!DOCTYPE html>
<html>
<head>
    {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/foundation.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>

<body>
  <div class="row">
    <div class="large-12 columns">

      <div class="row">
        <div class="large-6 columns">
          <h4>Login</h4>

          <form method="POST" action="/tool/create">
              <div class="row">

                  <div class="large-4 columns"></div>
                  <div class="large-4 columns">
                      <label>Username<input name="name" type="text" /> </label>
                  </div>
                  <div class="large-4 columns"></div>

              </div>

              <div class="row">
                  <div class="large-4 columns"></div>
                  <div class="large-4 columns">
                      <label>Password<input name="name" type="text" /> </label>
                  </div>
                  <div class="large-4 columns"></div>
              </div>

              <input type="submit" class="button" value="Login">
          </form>

        </div>

      </div>

    </div>
  </div>


  


</body>

<script type="text/javascript" src="{% static 'js/vendor/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/foundation.min.js' %}"></script>

</html>