<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/foundation.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
	<div class="header">
		ToolShare
	</div>

	<div class="content">
		<div class="topbar" id="topbar">
			<center>
				{% if active %}
					<!-- tool search-->
					<input type="submit" class="button" onclick="addSearchFields()" value="Search For Tool">
					
					<!-- new tool -->
					<input type="submit" class="button" onclick="addToolFields()" value="New Tool">

					<!-- messages -->
					<input type="submit" class="button" onclick="addMessageFields()" value="Messages">

					<!-- edit info -->
					<input type="submit" class="button" onclick="addEditInfoFields()" value="Edit Info">

					<!-- logout -->
					<a href="/share_app/tryLogout"><input type="submit" class="button" value="Logout"></a>

					<!-- tool search -->
					<div id="searchField" style="color: #000000; display: none;">
						<form action="/share_app/borrowTool" method="post">
							{% csrf_token %}
							
							{% if tools|length > 0 %}
								<table>
									<thead>
										<td>Name</td>
										<td>Type</td>
										<td>Quality</td>
										<td>Restricted</td>
										<td>Owner</td>
										<td>Rating</td>
										<td>Shed</td>
										<td>Borrow</td>
									</thead>

									{% for e in tools %}
										<tr>
											<td>{{ e.name }}</td>
											<td>{{ e.type }}</td>
											<td>{{ e.quality }}</td>
											<td>{{ e.restricted }}</td>
											<td>{{ e.owner }}</td>
											<td>{{ e.rating }}</td>
											<td>{{ e.inShed }}</td>
											<td><input type="radio" name="tool" value="{{ e.id }}" required></td>
										</tr>
									{% endfor %}
								</table>
								<center>
									<input type="submit" class="button" value="Borrow">
									<input type="button" class="button" onclick="removeFields()" value="Cancel">
							{% else %}
								<p>There are no more available tools :(</p>
							{% endif %}
			            </form>
					</div>

					<!-- new tool -->
					<div id="newToolField" style="color: #000000; display: none;">
						<form action="/share_app/addTool/" method="post">
							{% csrf_token %}
							<div class="row">
								<h4>Add Tool</h4>
								<div class="large-2 column">Name<input type="text" name="toolName" required></div>
								<div class="large-2 column">Type<input type="text" name="toolType" required></div>
								<div class="large-2 column">Quality
								<select name="toolQuality">
									{% for i in "xxxxxxxxxx" %}
										<option value={{ forloop.counter }}>{{ forloop.counter }}</option>
									{% endfor %}
								</select></div>
								<div class="large-2 column"><br>
								<input type="checkbox" name="toolRestricted" value="Restricted">Restricted</div>
								<div class="large-4 column"></div>
							</div>
							<div class="row">
								<center>
									<input type="submit" class="button" value="Add">
									<input type="button" class="button" onclick="removeFields()" value="Cancel">
								</center>
							</div>
						</form>
					</div>

					<!-- messages -->
					<div id="newMessageField" style="color: #000000; display: none;">
						<form action="/share_app/sendMessage/" method="post">
							{% csrf_token %}
							{% if allUsernames|length <= 1 %}
								There are no other users in this sharezone
							{% else %}
								<div class="row">
									<div class="large-6 column" style="max-height: 300px; overflow: auto;">
										<table>
											{% for m in allMessages %}
												<tr>
													<td>{{ m.sender }}</td>
													<td>{{ m.text }}</td>
												</tr>
											{% endfor %}
										</table>
									</div>
									<div class="large-6 column">
										<div class="row">
											<div class="large-2 column">To:</div>
											<div class="large-2 column" style="width: 200px;">
												<select name="receiver">
													{% for i in allUsernames %}
														{% if username != i %}
															<option value="{{ i }}">{{ i }}</option>
														{% endif %}
													{% endfor %}
												</select>
											</div>
											<div class="large-8 column"></div>
										</div>
										<div class="row">
											<div class="large-9 column">
												<textarea rows="5" cols="50" name="message"></textarea>
											</div>
										</div>
										<div class="row">
											<center>
												<input type="submit" class="button tiny radius" value="Send">
												<input type="button" class="button tiny radius" onclick="removeFields()" value="Cancel">
											</center>
										</div>
									</div>
								</div>
							{% endif %}
						</form>
					</div>

					<!-- edit info -->
					<div id="editInfoField" style="color: #000000; display: none;">
						<div class="row">
							<div class="large-12 column">
								<form action="/share_app/saveAccountInfo/" method="post">
									{% csrf_token %}
									<br>
									<!-- Passwords ------------------------------------------------------------------------>
									<div class="row">
										<div class="large-2 column">
											<p>New Password</p>
										</div>
										<div class="large-5 column">
											<input type="password" name="password" maxLength="32">
										</div>
										<div class="large-5 column">
											<input type="password" name="password2" maxLength="32" placeholder="Confirm">
										</div>
									</div>
									
									<!-- First and Last Names ------------------------------------------------------------>
									<div class="row">
										<div class="large-2 column">
											<p>Name</p>
										</div>
										<div class="large-5 column">
											<input type="text" name="firstname" maxLength="30" value="{{ first_name }}" placeholder="First Name" required>
										</div>
										<div class="large-5 column">
											<input type="text" name="lastname" maxLength="30" value="{{ last_name }}" placeholder="Last Name" required>
										</div>
									</div>

									<div class="row">
										<div class="large-2 column">
											<p>E-Mail</p>
										</div>
										<div class="large-10 column">
											<input type="text" name="email" maxLength="254" value="{{ email }}" required>
										</div>
									</div>

									<!-- Address and Zip Code ------------------------------------------------------------>
									<div class="row">
										<div class="large-2 column">
											<p>Address</p>
										</div>
										<div class="large-8 column">
											<input type="text" name="address" value="{{ address }}" required>
										</div>
										<div class="large-2 column">
											<input type="text" name="zip" maxLength="5" onkeydown="numOnly(event)" value="{{ zipcode }}" placeholder="ZIP" required>
										</div>
									</div>

									<!-- Old Password ---------------------------------------------------------------->
									<div class="row">
										<div class="large-2 column">
											<p>Old Password</p>
										</div>
										<div class="large-5 column">
											<input type="password" name="oldPassword" required>
										</div>
										<div class="large-5 column"></div>
									</div>

									<div class="row">
										<center>
											<input type="submit" class="button" value="Save Info">
											<input type="button" class="button" onclick="removeFields()" value="Cancel">
										</center>
									</div>
									
								</form>
							</div> 
						</div>
					</div>

				{% else %}
					<div style="color: #000000">
						Awaiting Administrative Approval to Join Sharezone<br>
						<a href="/share_app/tryLogout"><input type="submit" class="button tiny radius" value="Logout"></a>
					</div>
				{% endif %}
					
			</center>
		</div>

		<div class="row">
			<div class="large-2 column">
				<h3>{{ username }}</h3>
			</div>
			
			<div class="large-10 column">
				<!-- notifications -->
				<div id="notifications" style="padding-top: 5px;">
					{% if notifs|length != 0 %}
						<input type="button" class="button tiny radius alert" onclick="showMessages()" value="{{ notifs|length }}">
					{% endif %}
				</div>

				<!-- back button -->
				<div id="backButton" style="padding-top: 5px; display: none;">
					<input type="button" class="button tiny radius" onclick="showUserInfo()" value="Back">
				</div>

			</div>
		</div>

		<div class="row">
			<!-- user info -->
			<div id="userInfoTable" style="display: block;">
				<div class="large-6 column">
					<table>
						<tr><td><b>Name:</b></td><td>{{ first_name }} {{ last_name }}</td></tr>
						<tr><td><b>Email:</b></td><td>{{ email }}</td></tr>
						{% if active %}
							<tr><td><b>Sharezone:</b></td><td>{{ zone }}</td></tr>
						{% endif %}
						<tr><td><b>Address:</b></td><td>{{ address }}</td></tr>
						<tr><td><b>Rating:</b></td><td>{{ rating }}</td></tr>
					</table>
				</div>

				{% if isAdmin %}
					{% if zoneRequests|length > 0 %}
						<div class="large-6 column">
							<h4>Sharezone Requests</h4>
							<form action="/share_app/approveUser/" method="post">
								<table>
									{% csrf_token %}
									{% for req in zoneRequests %}
										<tr>
											<td>{{ req.sender.username }}</td>
											<td><input type="checkbox" name="reqName{{ req.sender.id }}" value="selReq"></td>
										</tr>
									{% endfor %}
								</table>
								<input type="submit" name="approve" class="button tiny radius" value="Approve">
								<input type="submit" name="deny" class="button tiny radius alert" value="Deny">
							</form>
						</div>
					{% endif %}
				{% endif %}
			</div>

			<!-- messages -->
			<div id="messagesTable" style="display: none; color: #000000;">
				<table>
					<thead>
						<tr>
							<td>User</td>
							<td>Message</td>
						</tr>
					</thead>
					{% for m in allMessages %}
						<tr>
							<td><b>{{ m.sender }}</b></td>
							<td>{{ m.text }}</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>

		<hr>

		{% if active %}
			<!-- tools -->
			<div class="row">
				<!-- owned tools preview -->
				<div class="large-6 column" id="ownedList" style="display: block;">
					{% if owned|length > 0 %}
						<h4>
							Owned Tools
							<input type="button" class="button tiny radius" onclick="showToolManager()" value="Manage">
						</h4>
						<table>
							<thead>
								<tr>
									<td><center>Name</center></td>
									<td><center>Type</center></td>
									<td><center>Availability</center></td>
									<td><center>Restricted</center></td>
								</tr>
							</thead>
							{% for e in owned %}
								<tr>
									<td>{{ e.name }}</td>
									<td>{{ e.type }}</td>
									<td>{% if e.holder != e.owner %}Held By <b>{{ e.holder }}</b>{% elif e.registered == False %}<center>&#x2717;</center>{% elif e.inShed %}<center>&#x2713; Shed</center>{% else %}<center>&#x2713;</center>{% endif %}</td>
									<td>{% if e.restricted %}<center><b>R</b></center>{% endif %}</td>
								</tr>
							{% endfor %}
						</table>
					{% else %}
						<center>You have not added any tools</center>
					{% endif %}
				</div>

				<!-- owned tools manager -->
				<div class="large-6 column" id="manageList" style="display: none;">
					<form action="/share_app/editTools/" method="post">
						{% csrf_token %}
						<h4>
							Owned Tools
							<input type="submit" class="button tiny radius" value="Save">
						</h4>
						<table>
							<thead>
								<td><center>Name</center></td>
								<td><center>Type</center></td>
								<td><center>Quality</center></td>
								<td><center>Restricted</center></td>
								<td><center>Available</center></td>
								<td><center>In Shed</center></td>
							</thead>
							{% for e in owned %}
								<tr>
									<td><center><input type="text" name="n{{ e.id }}" value="{{ e.name }}" {% if e.holder != e.owner %} disabled="disabled" {% endif %}></center></td>
									<td>{{ e.type }}</td>
									<td><center>
										<select name="q{{ e.id}}" {% if e.holder != e.owner %} disabled="disabled" {% endif %}>
										{% for i in "xxxxxxxxxx" %}
											<option value={{ forloop.counter }} {% if forloop.counter == e.quality %} selected="selected" {% endif %} {% if e.holder != e.owner %} disabled="disabled" {% endif %}>
												{{ forloop.counter }}
											</option>
										{% endfor %}
									</select></center></td>
									<td><center>
										<input type="checkbox" name="rst{{ e.id }}" value="rst" {% if e.restricted %} checked {% endif %} {% if e.holder != e.owner %} disabled="disabled" {% endif %}>
									</center></td>
									<td><center>
										<input type="checkbox" name="reg{{ e.id }}" value="reg" {% if e.registered %} checked {% endif %} {% if e.holder != e.owner %} disabled="disabled" {% endif %}>
									</center></td>
									<td><center>
										<input type="checkbox" name="shd{{ e.id }}" value="shd" {% if e.inShed %} checked {% endif %} {% if e.holder != e.owner %} disabled="disabled" {% endif %}>
									</center></td>
								</tr>
							{% endfor %}
						</table>
					</form>
				</div>

				<!-- borrowed tools manager -->
				<div class="large-6 column" id="borrowedList" style="display: block;">
					{% if borrowed|length > 0 %}
						<form action="/share_app/returnTools/" method="post">
							{% csrf_token %}
							<h4>
								Borrowed Tools
								<input type="submit" class="button tiny radius" value="Return Selected">
							</h4>
							<table>
								<thead>
									<tr>
										<td>Name</td>
										<td>Type</td>
										<td>Owner</td>
										<td>Due Date</td>
										<td>Rating</td>
										<td>Return</td>
									</tr>
								</thead>
								{% for e in borrowed %}
									<tr>
										<td>{{ e.name }}</td>
										<td>{{ e.type }}</td>
										<td>{{ e.owner }}</td>
										<td>Never</td>
										<td><center>
											<select name="rate{{ e.id }}">
												<option value=0>None&nbsp;</option>
												{% for i in "xxxxx" %}
													<option value={{ forloop.counter }}>{{ forloop.counter }}</option>
												{% endfor %}
											</select>
										</center></td>
										<td><center><input type="checkbox" name="ret{{ e.id }}"></center></td>
									</tr>
								{% endfor %}
							</table>
						</form>
					{% else %}
						<center>You are not borrowing any tools</center>
					{% endif %}
				</div>
				
				<!-- shed information -->
				<!-- {% if isAdmin %}
					<hr>
					<form id="shedFields" style="width: 500px;" action="/share_app/addShed/" method="post">
						{% if open %}
							<p>Address: {{ shedaddress }} </p>
							<p>Tools:</p>
							{% for e in shedTools %}
								{{ e.name }}
							{% endfor %}
						{% else %}
							{% csrf_token %}
							<input class="button" id="shedButton" onclick="addShedFields()" value="Create Shed">
							{% endif %}
					</form>
				{% endif %} -->
				
			</div>
		{% endif %}
	</div>

	<div class="footer">
		<p>&nbsp</p>
	</div>

</body>

<script type="text/javascript" src="{% static 'js/vendor/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/foundation.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/user_panel.js' %}"></script>

</html>